{% extends 'base.html' %}
{% block title %}
    О нас
{% endblock %}
{% block content %}
    <h2>Добро пожаловать в наши гостиницы!</h2>
    <p>Мы - команда профессионалов в сфере гостеприимства, стремящаяся создать незабываемые впечатления для каждого нашего гостя.</p>
    <p>Наша миссия - предоставить комфортное проживание, высокий уровень обслуживания и уникальный опыт для каждого путешественника, выбравшего наши гостиницы.</p>
    <p>Что нас отличает:</p>
    <ul>
        <li>Уютные номера с современными удобствами;</li>
        <li>Внимательный и дружелюбный персонал, готовый предоставить вам всю необходимую помощь;</li>
        <li>Расположение в красивых и удобных местах, чтобы вы могли наслаждаться красотой окружающей природы или легко добраться до основных достопримечательностей;</li>
        <li>Рестораны с изысканной кухней, где вы можете насладиться разнообразными блюдами;</li>
        <li>Индивидуальный подход к каждому гостю.</li>
    </ul>
    <p>Мы гордимся тем, что создаем уникальные и неповторимые воспоминания для наших гостей. Добро пожаловать в наши гостиницы!</p>
    <h3> <a href="{% url 'catalog'%}">Список гостиниц</a></h3>
{% endblock %}