{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}

<style>
  /* Общие стили для контента */
  .content-container {
    max-width: 800px;
    margin: 0 auto;
  }

  /* Стили для изображения и описания */
  .img-article-left {
    float: left;
    margin: 0 20px 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .img-article-left:hover {
    transform: scale(1.1);
  }

  /* Стили для заголовка и содержания */
  h1 {
    color: #333;
  }

  h2 {
    color: #555;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
  }

  /* Анимация для списка номеров гостиницы */
  ul li {
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeInRight 0.5s forwards;
  }

  @keyframes fadeInRight {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .room-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    text-align: center;
    line-height: 16px;
    margin-right: 5px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    text-decoration: none; /* Добавлено для того, чтобы ссылка не имела подчеркивания */
  }

    li {
    display: inline-block; /* Элементы будут отображаться в строчку */
    margin-right: 10px; /* Добавлено пространство между элементами для улучшенного визуального восприятия */
  }
</style>

<div class="content-container">
  <h1>'</h1>

  {% if hotel.photo %}
  <p><img class="img-article-left" src="{{ hotel.photo.url }}" alt="{{ hotel.title }}"></p>
  {% endif %}

  <h2>Свободные номера гостиницы:</h2>
  <ul>
    {% for room in rooms %}
      <li>
        <a href="{% url 'show_room' hotel_id=hotel.id room_number=room.room_number %}" class="room-icon">{{ room.room_number }}</a>
      </li>
    {% endfor %}
  </ul>

  {{ hotel.content|linebreaks }}
</div>

{% endblock %}