{% extends 'base.html' %}
{% load gostinitsa_tags %}
{% block title %}
Ваши заявки
{% endblock %}
{% block content %}
<h2>Ваши запросы на бронирование</h2>
<ul>
    {% for request in user_requests %}
    <li>
        <strong>Отель:</strong> {{ request.room.hotel }},
        <strong>Номер комнаты:</strong> {{ request.room.room_number }},
        <strong>Дата:</strong> {{ request.date }},
        <strong>Статус:</strong> {{ request.get_status_display }}
        {% if request.status == request.Status.CONFIRMED %}
        <button class="pay-button" data-request-id="{{ request.id }}">Оплатить</button>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% endblock %}
