{% load static %}
{% load gostinitsa_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}"></a>
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'catalog' %}">Гостиницы</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                {% if user.is_staff %}
                <li><a href="{% url 'operator_requests' %}">Запросы</a></li>
                <li><a href="/operator/rooms/">Номера</a></li>
                {% endif %}
            </ul>
        </nav>

        {% if user.is_authenticated %}
        <div class="user-actions">
            <a href="{% url 'user_requests' %}">{{ user.first_name }}</a>
            <div class="divider"></div>
            <a href="{% url 'users:logout' %}">Выйти</a>
        </div>
        {% else %}
        <div class="user-actions">
            <a href="{% url 'users:login' %}">Вход</a>
            <a href="{% url 'users:register' %}">Регистрация</a>
        </div>
        {% endif %}
    </div>
</div>


{% block content %}{% endblock %}

</body>
</html>
