body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}


.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: inline;
    margin-right: 20px;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.user-actions a {
    color: #ffcc00;
    text-decoration: none;
    margin-left: 20px;
}

.user-actions a:hover {
    text-decoration: underline;
}
